.sidebar {
  display: table;
  width: 15%;
  height: 100%;
  background-color: white;
  z-index: 999;
}

.sidebar-description {
  font-size: 25px;
}

.sidebar-filters {
  margin-top: 20px;
  font-size: 15px;
}
